// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid $light-gray;
    border-radius: 3px;
    width: 225px;
    padding: 10px;
    color: $dark-gray;
    font-family: $sans-serif;
    text-align: left;
    font-weight: initial;
    box-shadow: -1px 4px 6px 1px $light-gray;
    z-index: 1;
    // box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.gear-dropdown .editions {
    border-bottom: 1px solid $light-gray;

}

.gear-dropdown .editions li,
.gear-dropdown .help li {
    margin: 5px 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;   
}

.gear-dropdown a {
    display: block;
    padding: 5px 5px;
}

.editions a {
    text-decoration: none;
    text-transform: uppercase;
}

.gear-dropdown .help li {
    color: $blue;
}

.gear-dropdown .editions li:hover {
    background-color: $light-gray;
}

.dropdown-subtitle {
    text-transform: uppercase;
    font-family: $sans-serif;
    font-weight: bolder;
    font-size: 11px;
    margin: 10px 5px;
    display: block;
}

.editions li:first-of-type {
    color: black;
    background-color: $light-gray;
}