html {
    background-color: salmon;
    color: yellow;
}

h1 {
    font-size: 50px;
    color: rgb(168, 59, 168);
    background-color: rgb(46, 185, 46);
    border-radius: 25%;
    border: 3px dashed rgb(179, 73, 73);
    padding: 10px;
}

.clock {
    color: rgb(73, 73, 170);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    flex-wrap: inherit;
}

.widget-clock {
    font-family: 'Comic Sans MS';
}


